{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}


   

   <div class="p-5 bg-light">
           <h1 class="display-3">Bienvenue sur mon Blog</h1>
           <p class="lead">Page d'accueil</p>
           <hr class="my-2">
          
           <p class="lead">Page d'accueil </p>          
          
   </div>
<div class="container">

<img src="{{ asset('img/2.jpg')}}" class="w-75" alt="une assiette">

</div>






{% endblock %}
